body {
  margin: 0;
  padding: 0;
}

#overlay {
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 3;
}

#player {
  visibility: hidden;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 2;
}

#screenshot {
  z-index: 1;
}

#upload {
  display: none;
}

#video,
#canvas,
#photo {
  display: none;
}

.need-screenshot #upload {
  display: block;
}

.need-screenshot #overlay {
  display: none;
}

.triggered #screenshot {
  display: none;
}

.triggered #player {
  visibility: visible;
}
